.light-mode {
  --background-color: white;
  --gray-bg-color: #f9f9f9;
  --title-color: black;
  --text-color: #767676;
  --header-color: #147efb;
  --black-shade: #2d2e32;
  --footer-bg: #2d2e32;
  --box-shadow: rgba(80, 80, 80, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dark-mode {
    --background-color: rgba(12, 12, 12,1);
    --gray-bg-color: rgba(12, 12, 12,.995);
    --title-color: rgb(255, 255, 255);
    --text-color: #ffffff;
    --header-color: #147efb;
    --black-shade: #d9d9d9;
    --footer-bg: rgba(12, 12, 12,.995);
    --box-shadow: rgba(80, 80, 80, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
.theme{
    width: 40px;
    font-size: 20px;
    background-color: var(--black-shade);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    color: var(--gray-bg-color);
    z-index: 200;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    transform: scale(1);
    margin: 4rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.theme:active{
    transform: scale(.8);
}


.theme-mobile{
    width: 40px;
    font-size: 20px;
    background-color: var(--black-shade);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    color: var(--gray-bg-color);
    z-index: 200;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    transform: scale(1);
    margin: 4rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.theme-mobile:active{
    transform: scale(.8);
}
div,section,nav,p,h1,h2,h3,h4,footer,span{
    transition: 0.3s all;
}
html{
  scroll-behavior: smooth;
}
.bubbles{
    position:absolute;
    width:100%;
    height: 100%;

    flex: 1;
    z-index: 150;
    overflow:hidden;
    top:0;
    left:0;
    pointer-events: none;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background: var(--header-color);
    border-radius:50%;
    opacity:0.5;
    animation: rise 100s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }