/* Importing global styles */
@import '../global/general.css';
@import '../global/colors.css';
@import '../global/typo.css';
.contact {
  background-color: var(--background-color);
  padding: 11rem 0;
}

@media (max-width: 1020px) {
  .contact {
    padding: 8rem 0;
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
}

.contact__title {
  @media (max-width: 750px) {
    text-align: center;
  }
}

.contact__title p {
  color: var(--header-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--text-size);
  margin-bottom: 1rem;
}

.contact__title h3 {
  color: var(--black-shade);
  font-size: var(--headings-size);
}

.contact__icons {
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;
  margin-top: 6rem;
}

@media (max-width: 750px) {
  .contact__icons {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
  }
}

.contact__icon-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 750px) {
  .contact__icon-box {
    flex-direction: column;
  }
}

.contact__icon-box span {
  background-color: var(--gray-bg-color);
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--header-color);
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__info h3 {
  font-size: var(--text-size);
  color: var(--black-shade);
}

.contact__info a,
.contact__info p {
  font-size: var(--text-size);
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.contact__info a:hover,
.contact__info p:hover {
  color: var(--header-color);
  transition: all 0.3s;
}
